/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    z-index: 1000;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--dark);
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 2px 2px rgb(27, 27, 27);
}
.nav-links a {
    z-index: 1000;
    color: white;
}
.nav-links .dropdown a {
    z-index: 1000;
    color: white;
}
.nav-links .dropdown i {
    z-index: 1000;
    color: white;
}
/* LOGO */
.logo {
    z-index: 1000;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    z-index: 1000;
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    z-index: 1000;
    background-color: var(--dark);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    z-index: 1001;
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    z-index: 1000;
    position: relative; 
}
.dropdown {
    z-index: 1001;
    background-color: var(--dark);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 30px;
    box-shadow: #111 0px 2px 5px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.dropdown li + li {
    z-index: 1001;
    margin-top: 10px;
}
.dropdown li {
    z-index: 1001;
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    z-index: 1001;
    background-color: var(--white-grey);
}
.services:hover .dropdown {
    z-index: 1001;
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    z-index: 1000;
    display: none;
} 

/*HAMBURGER MENU*/
#hamburger {
    position: relative;
    transition: 0.3s;
    display: none;
    font-size: 24px;
    user-select: none;
}

 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    position: relative;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a#a:hover, .sidenav a#b:hover, .sidenav a#c:hover, .sidenav a#d:hover, .sidenav a#a:active, .sidenav a#b:active, .sidenav a#c:active, .sidenav a#d:active {
    padding-left: 80px;
    border-left: 4px solid #f1f1f1;
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
    .sidenav {padding-top: 15px;}
    .sidenav a {
        font-size: 18px;
    }
} 

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
    .menu {
        display:none;
    }
    #hamburger {
        display: block;
    }
}