/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--dark);
    box-shadow: 0px 5px 10px black;
}
.nav-links a {
    color: white;
}
.nav-links .dropdown a {
    color: white;
}
.nav-links .dropdown i {
    color: white;
}
/* LOGO */
.logo {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: var(--dark);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative; 
}
.dropdown {
    background-color: var(--dark);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    box-shadow: 0 5px 10px black;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: var(--white-grey);
}
.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
/*
@media (max-width: 768px) {
    .menu { 
    display:none;
    position: absolute;
    background-color:var(--dark);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color:var(--dark);
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: var(--dark);
    }
}*/